@import url('https://fonts.googleapis.com/css?family=Raleway');

/*=========
  Variable 
============*/

/** colors **/

$font: "Raleway", sans-serif;

$lightBlue : #C3FFFB;

$blue: #10B1FC;

$pink : #FF6494;

$darkPink : #FE2D6D;

$fontSize: 17px;

/*=========
  Style
============*/

/** General **/
html,body {
  height: 100vw;
  margin: 0;
}

body {
  background: $lightBlue;
  background: -webkit-linear-gradient($lightBlue, $blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($lightBlue, $blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($lightBlue, $blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient($lightBlue, $blue); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
 text-decoration: none;
 color: $pink;
}

a:hover {
  color: $darkPink;
}

/** Title **/

h1 {
  font-family: $font;
  text-align:center;
}

/** Input field **/

.form {
  margin-top: 30px;
  text-align:center;
  font-size: $fontSize;
}

label {
  margin-right: 10px;
  border: none;
}

input {
  padding: 5px 10px;
}

button {
  border:none;
  margin-left: 10px;
  padding: 5px 10px;
  background: $pink;
  text-decoration: none;
}

button:hover {
  border:none;
  margin-left: 10px;
  padding: 5px 10px;
  background: $darkPink;
  text-decoration: none;
}

/** result **/

.wrapper {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.result {
  display: flex;
  flex-basis: calc(33.3% - 14px);
  justify-content: top;
  flex-direction: column;
  margin-top: 20px;
  font-family: $font;
  font-size: $fontSize;
}

.result:hover {
  opacity: 0.6;
}
